{% load static %}

<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" type="text/css" href="{% static 'frontend/style.css' %}">
    </head>

    <body>
        <nav class="navbar navbar-light navbar-expand-lg fixed-top my-0" style="background-color: #e3f2fd;">
            <a class="navbar-brand" href="{% url 'frontend:intro' %}">Curry World</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{% url 'frontend:intro' %}">Introduction</a>
                    <a class="nav-item nav-link" href="{% url 'frontend:map' %}">Map</a>
                    <a class="nav-item nav-link" href="{% url 'frontend:learnmore' %}">Learn More</a>
                </div>
            </div>
        </nav>

        <div id="bootstrap-override">
            {% block content %}
            {% endblock %}
        </div>

        <footer class="footer" style='background-color: #E8E8E8'>
            <span class="font-small">Created by 1819Lamont Studio</span>
        </footer>
    </body>
</html>