{% load leaflet_tags %}
{% load compile_static %}
{% load static %}

<!-- TODO: FIGURE OUT WAY TO INCLUDE NAVBAR AND OTHER STUFF WITHOUT LEAFLET LOADING ON EVERY PAGE -->

<html>
    <head>
        {% leaflet_js %}
        {% leaflet_css %}
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

        <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
        <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet'/>
        
        <link rel="stylesheet" type="text/css" href="{% static 'frontend/style.css' %}">
        <script src="{% static 'frontend/leaflet-timeline.js' %}"></script>
        <script src="{% static 'frontend/leaflet-providers.js' %}"></script>
        
        <script src="https://unpkg.com/leaflet-responsive-popup@0.6.3/leaflet.responsive.popup.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet-responsive-popup@0.6.3/leaflet.responsive.popup.css" />

        <script type="text/javascript">
            window.addEventListener("map:init", function (event) {
                var map = event.detail.map;
                map.addControl(new L.Control.Fullscreen());
                

                fetchAndAddHistory = function(label, map) {
                    console.log("Fetch and ad markers triggered");
                    console.log(label);
                    
                    // TODO: this is too expensive and unnecessary, maybe change?
                    map.eachLayer(function (layer) {
                        map.removeLayer(layer);
                    });
                    L.tileLayer.provider('Stamen.Terrain').addTo(map);
                    
                    var dataurl = "http://127.0.0.1:8000/apps/api/";

                    if (/BC/.test(label)) {
                        isBC = '-';
                    } else {
                        isBC = '';
                    }

                    year = isBC + label.match(/\d+/);
                    dataurl = dataurl + year + "/";

                    fetch(dataurl)
                        .then(function(resp) {
                            return resp.json();
                        })
                        .then(function(data) {

                            map.setView([data.features[0].geometry.coordinates[1], data.features[0].geometry.coordinates[0]], 6);

                            L.geoJson(data, {
                                onEachFeature: function onEachFeature(feature, layer) {
                                    var props = feature.properties;
                                    var image_path = "{% static 'frontend/images/'%}" + props.picture.split(/[\\/]/).pop();
                                    var source_links = props.sources.map(function(source) { 
                                                                            return `<a href=${source} target="blank">${source}</a><br>` 
                                                                        });

                                    var content = `<h1>${props.title}</h1>
                                                    <img src=${image_path} alt=${props.title} width=150>
                                                    <br>${props.main_text}
                                                    <br><br>Sources:<br>
                                                    ${source_links}`;

                                    var popup = L.responsivePopup({ maxWidth: "600" }).setContent(content);

                                    layer.bindPopup(popup);
                                }
                            }).addTo(map);
                        });
                }

                L.control.timeline({ changeMap: fetchAndAddHistory }).addTo(map);
                
            });
        </script>
    </head>

    <body style="padding-top: 70px">
        <nav class="navbar navbar-light navbar-expand-lg fixed-top" style="background-color: #e3f2fd;">
            <a class="navbar-brand" href="{% url 'frontend:intro' %}">Curry World</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{% url 'frontend:intro' %}">Introduction</a>
                    <a class="nav-item nav-link" href="{% url 'frontend:map' %}">Map</a>
                    <a class="nav-item nav-link" href="{% url 'frontend:learnmore' %}">Learn More</a>
                </div>
            </div>
        </nav>
    
        
        {% leaflet_map "mapview" %}
        <script>
            $('#mapview').css("height", "100%");
        </script>

         <footer class="footer fixed-bottom" style='background-color: #E8E8E8'>
            <span class="font-small">Created by 1819Lamont Studio</span>
        </footer>
    </body>

</html>